body {
    height: 100vh;
}

h2 {
    color: white;
}

i {
  margin: 0 auto;
}

p {
  font-size: 0.9rem;
}

#cancel {
    display: none;
}

#reset {
    display: none;
}

.filter-button {
    font-size: 1rem;
}

.filter-dropdown {
    font-size: 1rem;
    padding: 5px;
    background-color: #353535;
    color: #a6a6a6;
}

.filter-topic {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main {
    background-color: #dedede;
    flex-basis: 75%;
    height: auto;
}

.main-content {
    margin: 10px;
    padding: 10px;
}

#search-box {
    color: #a6a6a6;
    font-size: 1rem;
    padding: 5px;
    width: 80%;
    height: 2rem;
}

#search-button {
    background: #656666;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    color: white;
    cursor: pointer;
    font-size: 1rem;
    /* padding: 10px; */
    width: 20%;
    height: 2rem;
}

#search-button:hover {
    background: #515252;
}

.search-name {
    display: none;
}

.search-section {
    display: flex;
}

.sidebar {
    background-color: #404040;
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    /* height: 100%; */
}

#svgcontainer {
  height: 100vh;
}

.sidebar-content {
    color: #a6a6a6;
    flex-basis: 95%;
    margin: 10px;
    padding: 10px;
}

.sidebar-footnote {
    color: #a6a6a6;
    flex-basis: 5%;
    font-size: small;
    margin: 10px;
    padding: 10px;
}

/* remove tick lines on search view */
.tick line{
    visibility:hidden;
  }

.tooltp {
  color: black;
  background-color: #eaeaea;
  position: absolute;
  padding: 20px;
  padding-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
}

.tooltp>p {
  font-weight: bold;
  text-align: center;
  font-size: 1.25em;
  margin-bottom: 8px;
}

.tooltp>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tooltp>ul>li>img {
  border-style: none;
  margin-left: 2px;
  vertical-align: baseline;
}


.window {
    display: flex;
    flex-direction: row;
}

#wrapper {
    display: flex;
    justify-content: flex-end;
}

#year-filter {
    width: 80%;
    margin-right: 20px;
  }
